.card{
    border: solid black 2px;
    width: 200px;
    margin: 20px;
    background-color: rgb(255, 194, 114);
}

.h1{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
.image{
    height: 190px;
    width: 200px;
    margin: 0px;
}

.p{
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: cursive ;
}
.types{
    margin: 0px;
    display: flex;
    justify-content: space-around;
}
.type{
    margin-top: 0px;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-shadow: red -3px 0px;
    font-size: 20px;
}