.contenedor{
    position: absolute;
    right: 10px;
    top: 10px;
}

.button{
    background: linear-gradient(to right, red, white, red);
    border: none;
    font-weight: bold;
    margin-left: 2px;
    border-radius: 20px;
}