.contenedor {
    --heihgNav: calc(22px + 17px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - var(--heihgNav));
    background-color: 	#ACD9C4;
}

.chico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pokemons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: auto auto auto auto auto auto; */
    width: 100vw;
}

.filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 20px;
    margin: 0px;
}

.p {
    font-weight: bold;
    margin-left: 30px;
}

.select {
    height: 20px;
    margin-left: 5px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    color: red;
}

.p2{
    margin-top: 0px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    width: 90vw;
    color: rgb(12, 0, 182);
}

.pagination {
    display: flex;
    justify-content: center;
    display: fixed;
    margin: 0px;
    width: fit-content;
}

.button {
    height: 20px;
    margin: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 163, 163);
}

.button:hover {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
}


@keyframes example {
    0% { left: -200px; top: 0px; }
    50% { left: 200px; top: 0px; }
    100% { left: -200px; top: 0px; }
}

.contenedorLoading {
    height: calc(100vh - 21px - 17px);
    background-color: rgb(134, 247, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    position: relative;
    border: solid black 5px;
    border-radius: 50%;
    padding: 15px;
    background-color: white;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}