.contenedor {
    background-image: url('https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/others_3/SI_Pokemon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    border-bottom: black solid 10px;
    font-size: 50px;
    position: absolute;
    bottom: 250px;
    right: 400px;
    border-radius: 50px;
    padding: 10px;
    background: linear-gradient(to left, #2a75bb, white, #ffcb05);
}

.button:hover {
    border-radius: 50px;
    padding: 10px;
    background: linear-gradient(to left, #3c5aa6, white, #c7a008);
    border-bottom: black solid 7px;
    cursor: pointer;
}
.button:active{
    background: linear-gradient(to left, #3c5aa6, white, #c7a008);
    border-bottom: black solid 0px;
    cursor: pointer;
}